# Google Gemini AI Key (Get your key from https://aistudio.google.com/app/apikey)
GEMINI_API_KEY=AQ.Ab8RN6IUG3oFPlc2sUIFHB68uH1Fg7BRXY6BCvyAiXXVt7tR4w

# NextAuth Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=super_secret_nextauth_jwt_key_32_chars_long

# Google OAuth Credentials (Optional - Google Login button works in demo mode if empty)
GOOGLE_CLIENT_ID=300705322072-sgpkd9jvdd8lou7t45hd0hmjp1a7j9it.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# MongoDB Atlas Connection URI
MONGODB_URI=mongodb+srv://aaryarastogi0110_db_user:rR3xASJQLFVnU6L5@cluster0.xqowyei.mongodb.net/chatbot_ai?retryWrites=true&w=majority